.headfix{
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: black;
    padding: 10px;
    z-index: 50;
    
}
.icon-cloud-download{
    display: flex;
    float: right;
    color: rgb(156, 154, 154);
}
.icon-shopping-cart{
    display: flex;
    float: right;
    color: rgb(80, 80, 209);
    margin-right: 10px;
}
.icon-angle-left{
    color: rgb(156, 154, 154);
}

.headfix .icon-shopping-cart>a{
    color: white;
}
.headfix i>a{
    color: rgb(156, 154, 154);
}
.headfix i:hover a{
    color: white;
    text-decoration: none;
}
.headfix i.icon-angle-left:hover{
    color: white;
}
.headfix i.icon-cloud-download:hover{
    color: white;
}
.bia{
    background-image: url('../img/banner1.jpg');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bia .freehold{
    position: absolute;
    left: 100px;
    top: 100px;
    border: white 1px solid;
    padding: 5px;  
}
.bia .freehold a{
    color: white;
    font-size: 40;
    margin-bottom: 0;
}
.bia .freehold:hover a{
    text-decoration: none;
}
.bia .listmenu{
    position: absolute;
    right: 80px;
    top: 100px;
}
.listmenu ul li{
    display: inline;
    padding: 30px;
    padding-bottom: 10px;
    font-size: 20;
}
.listmenu ul li a{
    position: relative;
    color: white;
}
.listmenu ul li a:before{
    position: absolute;
    color: orange;
    content: '.';
    top: -5px;
    left: 45%;
    font-size:2em;
    /* transform: translateX(-50%); */
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition: all 0.5s;
    opacity: 0;
}
.listmenu ul li:hover a:before,.listmenu ul li.show-active a:before{
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    text-shadow: 10px 0 white,-10px 0 white;
}
.bia .listmenu ul li:hover a,.listmenu ul li.show-active a{
    color: orange;
    text-decoration: none;
}
.bia .listmenu ul li:hover a::before{
    color: orange;
    text-decoration: none;
}

.dropdownmenu{
    display: none;
}
.bia .listmenu1 >ul.dropdownmenu{
    list-style-type: none;
}
.bia .textbia{
    top: 500px;
    left: 100px;
    position: absolute;
}
.bia .textbia h3{
    color: white;
    font-size: 40;
}
.bia .textbia p{
    color: white;
    font-size: 20;
}
.bia .listmenu1{
    position: absolute;
    bottom: 130px;
    right: 200px;
}
.listmenu1 ul{
    list-style-type: none;
}
.listmenu1 ul li{
    padding: 8px;
    font-size: 20;
    color: white;
}
.listmenu1 .fa{
    color: rgb(177, 118, 10);
    padding: 5px;
    margin-right: 20px;
    border: white solid 1px;
    font-size: 30;
}
.servicetext>h3{
    color: rgb(81, 81, 206);
    text-align: center;
    margin-top: 50px;
    font-size: 30;
}
.servicetext>p{
    text-align: center;
    color: black;
    width: 70%;
    margin: 50px auto;
    font-size: 20;
}
.grid-service{
    margin: 100px auto;
    width: 80%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
}
.grid-service .grid-service-item{
    padding: 10px;
}
.grid-service .grid-service-item>h3{
    text-align: center;
    margin-top: 30px;
    color: cornflowerblue;
}
.grid-service .grid-service-item p{
    text-align: center;
    color: rgb(56, 54, 54);
}
.grid-service .grid-service-item i.fa{
    padding-top:50px;
    color: chocolate;
    font-size: 50px;
    display: flex;
    justify-content: center;
}
.grid-service .grid-service-item:hover{
    background-color: rgb(39, 39, 223);
}
.grid-service-item:hover h3,.grid-service-item:hover p{
    color: white;
}
.ser{
    background-image: url('../img/ser.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
.bong{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    background-color: black;
    opacity: 0.8;
}
.ser .ser-grid{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-gap: 10px;
    width: 30%;
    margin: 0 200px auto;
    padding-top: 40px ;
    padding: 10px;
}
.ser-grid .ser-grid-item1{
    grid-column: 1 / span 2;
}
.ser-grid div a{
    font-weight: bold;
    font-size: 15px;
    padding: 10px
}
.ser-grid div a,p{
    color: white;
    padding: 10px;
}
.ser-grid div{
    color: white;
}
.ser-grid .ser-grid-item1 .textcam{
    color: orange;
}
.ser-grid div a:hover{
    color: orange;
    text-decoration: none;
}
.ser-grid .ser-grid-item .glyphicon{
    padding: 10px;
    font-size: 20px;
    color: orange;
}
.carousel-inner .item>.item-pr{
    height: 500px;
    width: 85%;
    margin: 50px auto;
    background-color: #c4e8ff;
}
div.item div.item-img{
    width: 60%;
    height: 500px;
    float: left;
}
.item-img img{
    max-width: 100%;
    height: 100%;
}
div.item div.item-text{
    width: 40%;
    float: right;
    padding: 50px;
    font-size: 30;
}
div.item div.item-text h3{
    font-size: 35;
    color: rgb(82, 82, 223);
    font-weight: bold;
}
div>.carousel-indicators{
    bottom: 40px;
    margin-left: 0;
    left: 35%;
    padding: 30px;
}
div.carousel-indicators>li{
    border: white solid 1px;
    background-color: peru;
    width: 20px;
    height: 20px;
    margin: 10px;
}
div.carousel-indicators>li.active{
    border: white solid 1px;
    background-color: rgb(7, 212, 58);
    width: 20px;
    height: 20px;
    margin: 10px;
}
.recen-work h2{
    text-align: center;
    color: rgb(56, 56, 212);
    font-weight: bold;
    font-size: 40;
}
.re-work-grid{
    display: grid;
    height: 400px;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin: 50px auto;
}
.re-work-it{
    padding: 10px;
}
.re-work-it>img{
    width: 100%;
    object-fit: cover;
}
.re-work-it>h3{
    color: chocolate;
    font-weight: bold;
}
.re-work-it>p{
    color: rgb(121, 117, 112);
    padding: 0;
}
.fa{
    color: chocolate;
}
.re-work-it>a{
    color: rgb(121, 117, 112);
}
.re-work-it>a:hover{
    color: chocolate;
    text-decoration: none;
}
.fooder{
    width: 100%;
    height: 350px;
    background-color: #0c182a;
    position: relative;
}
.quicklink{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 300px;
    height: 50%;
    border-right: white solid 2px;
}
.sport{
    position: absolute;
    top: 50px;
    left: 420px;
    width: 350px;
    height: 50%;
    border-right: white solid 2px;
}
.letter{
    position: absolute;
    top: 50px;
    left: 790px;
    height: 50%;
    right: 100px;
    padding-left: 40px;
}
.footer{
    position: absolute;
    left: 100px;
    bottom: 10px;
}
.fooder div h3{
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}
.fooder div h4,.fooder div li{
    color: rgb(187, 180, 180);
    padding: 5px;
    font-size: 15px;
}
.fooder div p{
    color: rgb(187, 180, 180);
    padding: 0px;
    font-size: 15px;
}
.quicklink ol a li,ol li{
    padding: 0;
    list-style-type: none;
}
.quicklink ol a:hover>li{
    text-decoration: none;
    color: white;
}
.footer .footer-oran{
    color: rgb(221, 121, 49);
}
.footer-oran:hover{
    text-decoration: none;
}
.sport-mail{
    color: rgb(187, 180, 180);
    padding: 0px;
    font-size: 15px;
}
.sport-mail:hover{
    color: white;
    text-decoration: none;
}
.sport .fa{
    color:rgb(187, 180, 180) ;
    margin-right: 10px;
}
.leter-email{
    width: 400px;
    height: 38px;
    margin-top: 20px;
}
.leter-email a>.fa-mail-bulk{
    color: white;
    border: 0px solid #b06010;
    background-color:#b06010;
    border-width: 12px;
    float: left;
}
#email{
    float: left;
    height: 38px;
    width: 350px;
    font-size: 20px;
    padding-top: 5px ;
}
.footer{
    position: absolute;
    border-top: 2px white solid;
    width: 900px;
}
.footer h4{
    float: left;
}


/* icon imag  */

/* div.footer-icon{
    float: right;
    display: grid;
    width: 170px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    height: 35px;
    margin-top: 5px;
}
.footer-icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 159, 159);
    border-radius: 50%;
}
div.footer-icon img{
    object-fit: cover;
    width: 20px;
    height: 20px;
}
div.footer-icon img.fbook{
    width: 15px;
    height: 20px;
}
div.footer-icon img{
    object-fit: cover;
    width: 20px;
    height: 20px;
}
a.facebook:hover{
    background-color: rgb(48, 132, 228);
}
a.twitter:hover{
    background-color: rgb(0, 225, 255);
}
a.srr:hover{
    background-color: rgba(255, 166, 0, 0.856);
}
a.vk:hover{
    background-color: rgb(58, 74, 165);
} */
div.footer-icon{
    float: right;
    display: grid;
    width: 170px;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    height: 35px;
    margin-top: 5px;
}
.footer-icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 159, 159);
    border-radius: 50%;
}
.footer-icon a i{
    color: black;
}
a.facebook:hover{
    background-color: rgb(48, 132, 228);
}
a.twitter:hover{
    background-color: rgb(0, 225, 255);
}
a.srr:hover{
    background-color: rgba(255, 166, 0, 0.856);
}
a.vk:hover{
    background-color: rgb(58, 74, 165);
}

div.footer-icon a:hover i.icon{
    color: white;
    text-decoration: none;
}


